.register--container {
  display: flex;
}

.register {
  height: 100vh;
  width: 50vw;
  padding: 3rem 5vw;
  display: flex;
  flex-direction: column;
  font-size: 16px;

  input {
    height: 2.3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &:focus {
      outline: 0;
      border: 2px solid rgba(45, 137, 235, 0.5);
    }
  }

  &__heading {
    height: 10vh;
    font-size: 1.2em;
    opacity: 0.8;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 70%;

      &:nth-child(5) {
        width: 40%;
      }
    }

    &__label {
      font-size: 0.8em;
      opacity: 0.7;
    }

    &__error {
      position: absolute;
      bottom: -20%;
      font-size: 0.7em;
      color: red;
    }
  }

  &__toc {
    font-size: 0.7em;
    font-weight: bold;
    opacity: 0.7;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    &--error {
      position: absolute;
      left: 0;
      bottom: -20%;
      color: red;
    }
  }

  &__btn {
    font-size: 0.8em;
    font-weight: bold;
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: rgba(45, 137, 235, 0.8);
    color: white;
  }
}

.chart {
  position: relative;
  width: 50vw;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  overflow: hidden;

  &__img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    max-width: 700px;
  }

  &__text {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

    &--heading {
      font-size: 1em;
      opacity: 0.7;
      margin-bottom: 2%;
    }

    &--body {
      font-size: 0.7em;
      width: 40%;
      text-align: center;
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 800px) {
  .register--container {
    flex-direction: column;
  }

  .register,
  .chart {
    width: 100%;
  }

  .register {
    padding: 10vw;
  }

  .chart {
    height: 100vw;
    max-height: 600px;
  }
}
